html, body {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Kumbh Sans, sans-serif;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
    visibility: hidden;
}

.container {
    width: 100%;
}

#header {
    height: 80px;
    border-bottom: 1px solid #eee;
}

#header .container {
    display: grid;
	grid-template-columns: 73px 1fr 1fr;
}

#header-menu {
    height: 100%;
    display: flex;
}

#header-menu a {
    padding: 10px;
    margin: auto;
    display: block;
    cursor: pointer;
    padding-bottom: 1px;
    margin-right: 10px;
}

#header-menu img {
    width: 20px;
    height: 20px;
}

#header-logo {
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
}

#header-logo img {
    width: 180px;
}

#header-menu-middle {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    display: none;
}

#header-menu-middle.active {
    display: block;
}

#header-menu-middle-container {
    width: 60%;
    height: 100vh;
    overflow: hidden;
    background: #eee;
    padding: 20px;
    margin: 0;
}

#header-menu-middle-close {
    display: block;
    width: 100%;
    user-select: none;
}

#header-menu-middle-close a {
    padding: 13px 10px 5px 0px;
}

#header-menu-middle-container > ul {
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

#header-menu-middle-container > ul > li {
    display: block;
    height: 20px;
    line-height: 20px;
    width: 100%;
    list-style: none;
    margin-bottom: 25px;
}

#header-menu-middle-container > ul > li a {
    height: 20px;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    padding: 5px 10px 5px 0px;
    display: block;
}

#header-menu-right ul {
    padding: 0;
    margin: 0;
    height: 100%;
}

#header-menu-right-card-button {
    float: left;
    list-style: none;
    margin: 0;
    width: 100px;
    height: 100%;
    text-align: center;
    user-select: none;
}

#header-menu-right-card-button a {
    height: 80px;
    line-height: 95px;
    display: block;
    padding: 0 15px;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    color: hsl(220, 14%, 75%);
    border-bottom: 2px solid transparent;
}

#header-menu-right-card-content {
    display: none;
}

#header-menu-right-profile-image {
    list-style: none;
    user-select: none;
}

#header-menu-right-profile-image a {
    display: flex;
    align-items: center;
    height: 80px;
}

#header-menu-right-profile-image img {
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: .2s ease-in;
}

#header-menu-right-profile-image:hover img {
    border-color: hsl(26, 100%, 55%);
}

.main {
    padding: 15px;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}